:root {
  --page-max-width: 1280px;
  --clr-surface: #ffffff;
  --clr-surface-high: #f6f7f9;
  --clr-surface-highest: #c1c3c8;
  --clr-on-surface: #17181c;
}

body {
  font-family: sans-serif;
  color: var(--clr-on-surface);
}

header {
  background: var(--clr-surface-high);
  border-bottom: 1px solid var(--clr-surface-highest);
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: 16px;

  padding: 16px 6px;
}

.container {
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  font-size: 1.75rem;
  text-wrap: nowrap;

  justify-self: start;

  padding: 3px 10px;
}

.search-bar {
  background: var(--clr-surface);
  padding: 8px 16px;
  border-radius: 100px;
  border: 1px solid var(--clr-surface-highest);

  text-align: center;
}

.github-link {
  padding: 10px;

  justify-self: end;
}

.github-link > .icon {
  height: 28px;
  fill: var(--clr-on-surface);
}
