:root {
  --page-max-width: 1280px;
  --clr-surface: #ffffff;
  --clr-surface-high: #f6f7f9;
  --clr-surface-highest: #c1c3c8;
  --clr-on-surface: #17181c;
  --clr-on-surface-variant: #a9a9a9;
  --clr-precipitation: #4fc2f7;
  --clr-temperature-unit: #f53d7d;
}

body {
  font-family: sans-serif;
  color: var(--clr-on-surface);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

header {
  background: var(--clr-surface-high);
  border-bottom: 1px solid var(--clr-surface-highest);
}

nav {
  display: grid;
  grid-template-columns: 1fr minmax(322px, 1.5fr) 1fr;
  align-items: center;
  gap: 16px;

  padding: 16px 22px;
}

.container {
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  font-size: 1.75rem;
  text-wrap: nowrap;

  justify-self: start;

  padding: 3px 10px;
}

.search-bar {
  display: flex;
}

.search-input {
  flex: 1;

  background: var(--clr-surface);
  padding: 8px 16px;
  padding-right: 14px;
  border-radius: 100px 0 0 100px;
  border: 1px solid var(--clr-surface-highest);
  border-right-width: 0;
}

.unit-divider {
  background: var(--clr-surface);
  padding: 8px 0;
  border-top: 1px solid var(--clr-surface-highest);
  border-bottom: 1px solid var(--clr-surface-highest);

  &::before {
    content: "";
    display: block;
    background: var(--clr-on-surface-variant);
    height: 100%;
    width: 1px;
  }
}

.unit-toggle {
  background: var(--clr-surface);
  color: var(--clr-on-surface-variant);
  padding: 8px 16px;
  padding-left: 14px;
  border-radius: 0 100px 100px 0;
  border: 1px solid var(--clr-surface-highest);
  border-left-width: 0;
  text-wrap: nowrap;

  &:hover {
    cursor: pointer;

    & > span:not(.selected-unit) {
      text-decoration: solid underline var(--clr-temperature-unit) 2px;
      text-underline-offset: 2px;
    }
  }
}

.selected-unit {
  color: var(--clr-temperature-unit);
  font-weight: 700;
}

.github-link {
  padding: 10px;

  justify-self: end;

  & > .icon {
    height: 28px;
    fill: var(--clr-on-surface);
  }
}

.main {
  flex: 1;

  display: grid;
  place-items: center;
}

.weather {
  display: grid;
  grid-template-columns: 1fr minmax(322px, 1.5fr) 1fr;
  gap: 16px;

  max-height: 500px;
  height: 100%;
  width: 100%;

  padding-inline: 32px;
}

.card {
  background: var(--clr-surface-high);
  border: 1px solid var(--clr-surface-highest);
  border-radius: 20px;
}

.list {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.forecast {
  font-size: 1.125rem;
  font-weight: 500;

  display: flex;
  justify-content: space-between;

  padding: 8px;

  & > div {
    width: 80px;
  }

  & > div:nth-child(2) {
    margin-left: 24px;
  }

  & > div:last-child {
    text-align: right;
  }
}

.divider {
  width: 1px;
  height: 100%;
  background: var(--clr-surface-highest);
  margin-left: 40px;

  &:last-child {
    display: none;
  }
}

.main-weather {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
  overflow: hidden;

  text-align: center;
  font-weight: 700;
}

.weather-bg {
  grid-area: stack;
  width: 100%;
  height: 100%;
  z-index: 0;

  background: center / cover no-repeat;
  background-image: url("../assets/cloudy.gif");
}

.bg-filter {
  grid-area: stack;
  width: 100%;
  height: 100%;
  z-index: 1;

  background: var(--clr-on-surface);
  opacity: 0.3;
}

.weather-info {
  grid-area: stack;
  z-index: 2;

  color: var(--clr-surface);
}

.location {
  font-size: 2rem;
}

.temperature {
  font-size: 5rem;
  line-height: 1;

  margin-left: 36px;
}

.condition {
  font-size: 1.5rem;
}

.loading {
  display: grid;
  place-items: center;
}
