:root {
  --page-max-width: 1280px;
  --clr-surface: #ffffff;
  --clr-surface-high: #f6f7f9;
  --clr-surface-highest: #c1c3c8;
  --clr-on-surface: #17181c;
  --clr-on-surface-variant: #a9a9a9;
  --clr-logo-accent: #fcc11a;
  --clr-temperature-unit: #f44336;
}

body {
  font-family: "Figtree", sans-serif;
  color: var(--clr-on-surface);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

header {
  background: var(--clr-surface-high);
  border-bottom: 1px solid var(--clr-surface-highest);
}

nav {
  display: grid;
  /* Measured manually after setting the width of forecast elements */
  grid-template-columns: 1fr minmax(260px, 1.5fr) 1fr;
  align-items: center;
  gap: 16px;

  padding: 16px 22px;
}

.container {
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  font-size: 1.75rem;
  text-wrap: nowrap;

  justify-self: start;

  padding: 3px 10px;
}

.logo-accent {
  color: var(--clr-logo-accent);
}

.search-bar {
  display: flex;
}

.search-input {
  flex: 1;

  background: var(--clr-surface);
  padding: 8px 16px;
  padding-right: 14px;
  border-radius: 100px 0 0 100px;
  border: 1px solid var(--clr-surface-highest);
  border-right-width: 0;
}

.unit-divider {
  background: var(--clr-surface);
  padding: 8px 0;
  border-top: 1px solid var(--clr-surface-highest);
  border-bottom: 1px solid var(--clr-surface-highest);

  &::before {
    content: "";
    display: block;
    background: var(--clr-on-surface-variant);
    height: 100%;
    width: 1px;
  }
}

.unit-toggle {
  width: 66px;
  background: var(--clr-surface);
  color: var(--clr-on-surface-variant);
  padding: 8px 16px;
  padding-left: 14px;
  border-radius: 0 100px 100px 0;
  border: 1px solid var(--clr-surface-highest);
  border-left-width: 0;
  text-wrap: nowrap;

  &:hover {
    cursor: pointer;

    & > span:not(.selected-unit) {
      text-decoration: solid underline var(--clr-temperature-unit) 2px;
      text-underline-offset: 2px;
    }
  }
}

.selected-unit {
  color: var(--clr-temperature-unit);
  font-weight: 700;
}

.github-link {
  padding: 10px;

  justify-self: end;

  & > .icon {
    height: 28px;
    fill: var(--clr-on-surface);
  }
}

.main {
  flex: 1;

  display: grid;
  place-items: center;
}

.weather {
  display: grid;
  /* Measured manually after setting the width of forecast elements */
  grid-template-columns: 1fr minmax(260px, 1.5fr) 1fr;
  gap: 16px;

  max-height: 500px;
  height: 100%;
  width: 100%;

  padding-inline: 32px;
}

.card {
  background: var(--clr-surface-high);
  border: 1px solid var(--clr-surface-highest);
  border-radius: 20px;
}

.list {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.forecast {
  font-size: 1.125rem;
  font-weight: 500;

  display: flex;
  justify-content: space-between;
  padding: 8px;

  & > span {
    text-wrap: nowrap;
  }

  /* The widths is manually measured after setting the font */
  /* So all forecast align vertically */
  /* Measured using the widest character combination that make sense */
  & > span:first-child {
    width: 78px;
  }
  & > span:nth-child(2) {
    width: 72px;
    margin-left: -4px;
  }
  & > span:last-child {
    width: 57px;
  }
}

.divider {
  width: 1px;
  height: 100%;
  background: var(--clr-surface-highest);
  margin-left: 46px;

  &:last-child {
    display: none;
  }
}

.main-weather {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
  overflow: hidden;

  text-align: center;
  font-weight: 700;
}

.weather-bg {
  grid-area: stack;
  width: 100%;
  height: 100%;
  z-index: 0;

  background: center / cover no-repeat;
}

.bg-filter {
  grid-area: stack;
  width: 100%;
  height: 100%;
  z-index: 1;

  background: var(--clr-on-surface);
  opacity: 0.1;
}

.weather-info {
  grid-area: stack;
  z-index: 2;

  font-size: 1.125rem;
  color: var(--clr-surface);

  background: rgb(0 0 0 / 0.2);
  backdrop-filter: blur(32px);
  padding: 16px 20px;
  border-radius: 16px;
  outline: 0.5px solid rgb(255 255 255 / 0.15);
  outline-offset: -2px;

  /* From `shadow-xl` https://tailwindcss.com/docs/box-shadow */
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.location {
  font-size: 2rem;
  text-transform: capitalize;
}

.temperature {
  font-size: 5rem;
  line-height: 1;

  /* Manually measured from the degree symbol, after setting the font */
  margin-left: 30px;
}

.temp-unit {
  font-size: 1.5rem;
  vertical-align: 36px;
  margin-left: 4px;
}

.condition {
  font-size: 1.5rem;
}

.other-metrics {
  display: flex;
  justify-content: center;
  gap: 1.125rem;
}

.loading {
  font-weight: 500;
  text-align: center;
}
